

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  
  /* box-shadow: 0 2px 5px var(--laranja-3); */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:khaki;

  /* margin-bottom: .3rem; */
}



.header-logo-image {
  /* background-color: red; */
  max-width: 100%; 
  /* Garante que a logo não ultrapasse o tamanho da tela no celular */
  
  /* height: auto;     */
  /* Mantém a proporção correta */
  
  width: 180px;
  
  height: 110px;
}




