

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 5%;
  margin-top: .2rem;
  border-radius: .3rem;
  
  /* box-shadow: 0 2px 5px var(--laranja-3); */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--amarelo-7);

  /* margin-bottom: .3rem; */
}



.header-logo-image {
  /* background-color: red; */

  padding-left: 1rem;

  max-width: 100%; 
  /* logo não ultrapassar o tamanho da tela no celular */
  
  height: auto;    
  /* Mantém a proporção correta */
  
  
}




